/lib/ksdk_hal_lib/iar/KW30Z4/settings
/lib/ksdk_hal_lib/iar/KW30Z4/release/list
/lib/ksdk_hal_lib/iar/KW30Z4/release/obj
/lib/ksdk_hal_lib/iar/KW30Z4/debug/obj
/lib/ksdk_hal_lib/iar/KW30Z4/debug/list
/lib/ksdk_platform_lib/iar/KW30Z4/settings
/lib/ksdk_platform_lib/iar/KW30Z4/release/obj
/lib/ksdk_platform_lib/iar/KW30Z4/release/list
/lib/ksdk_platform_lib/iar/KW30Z4/debug/obj
/lib/ksdk_platform_lib/iar/KW30Z4/debug/list
/lib/ksdk_startup_lib/iar/KW30Z4/settings
/lib/ksdk_startup_lib/iar/KW30Z4/release/list
/lib/ksdk_startup_lib/iar/KW30Z4/release/obj
/lib/ksdk_startup_lib/iar/KW30Z4/debug/obj
/lib/ksdk_startup_lib/iar/KW30Z4/debug/list
/release/obj
/release/list
/debug/obj
/debug/list
